@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Raleway:wght@300&display=swap');

/* unsivarsal style  */
*{
    font-family: 'Inter';
    transition: all 500ms ease;
}

/* body style  */
body{
    margin: 0;
    padding: 0;
}

/* ======================== common style ======================== */
.container{
    max-width: 80vw;
    margin: 0 auto;
}

/* site common color */

:root{
    --btn-color: #FF5959;
    --btn-hover-color: #FFEEEE;
    --bg-lightgyay: #FAFAFA;

    --bg-lightblue: #EDF5F6;
    --bg-lightred: #FFEEEE;
    --bg-light-orrange: #FFF4D6;
    
    --heading-color: #121212;
    --paragraph-color: #707070;

    --paragraph-light: #B3B3B3;

    --input-bg: #D9D9D9;
}

/* bg color class  */
.bg-lightblue{
    background-color: #EDF5F6;
}
.bg-lightpink{
    background-color: #FFEEEE;
}
.bg-lightorrange{
    background-color: #FFF4D6;
}
/* primary button  */
.btn-primary{
    border: transparent;
    font-size: 20px;
    border-radius: 5px;
    background-color: var(--btn-color);
    color: #fff;
    padding: 10px 15px;
}
.btn-primary:hover{
    color: var(--paragraph-color);
    background-color: var(--btn-hover-color);
    cursor: pointer;
    border-color: var(--btn-color);
}

/* secondary button  */
.btn-secondary{
    background-color: var(--bg-lightgyay);
    color: var(--paragraph-color);
    padding: 20px 15px;
    border-radius: 5px;
    border: 1.5px solid transparent;
    outline: none;
    font-weight: 600;
    margin-right: 10px;
}
.btn-secondary:hover{
    background-color: var(--btn-hover-color);
    color: var(--paragraph-color);
    cursor: pointer;
    border-color: var(--btn-color);

}

/* common heading  */
h2,h5{
    color: var(--heading-color);
}
/* ====================== Header area start ====================== */
header{
    background-image: linear-gradient(transparent, black), url('../images/donation0.jpg');
    background-position: center center;
    background-size: cover;
    min-height: 80vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}
header h1{
    font-size: 65px;
    padding: 0 15%;

}
header p{
    font-size: 18px;
    padding: 0 25%;
}
header button{
    border: transparent;
    font-size: 20px;
    border-radius: 5px;
    background-color: var(--btn-color);
}
/* ====================== Header area end ====================== */

 /* ====================== Donate Today area start ======================  */
 #donate-today{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
 }
 #donate-today h2{
    font-size: 45px;
 }
 #donate-today p{
    padding: 0 30%;
 }
 #donate-today .donate-pricing{
    margin: 50px 0;
 }
 #donate-today form {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 #donate-today form input{
    outline: 0;
    border: 0;
    text-align: center;
    /* padding: 20px 0; */
}
#donate-today form hr{
    width: 35vw;
    margin: 10px auto 20px auto;
    outline: none;
    border: none;
    border-bottom:1px solid var(--paragraph-light);
 }
 /* ====================== Donate Today area end ======================  */

 /* ====================== Plan Today area start ======================  */
 #plain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 #plain h2{
    margin-top: 100px;
 }
 #plain> p{
    padding: 0 30%;
    text-align: center;
    margin-bottom: 30px;
 }
 #plain .card-list{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    gap: 20px;
 }
 #plain .card-list .card{
    padding: 30px 20px;
    border-radius: 5px;
 }
 #plain .card-list .card  img{
    margin-top: 40px;
 }
 #plain .card-list .card  h5{
    font-size: 20px;
 }
 #plain .card-list .card  p{
    padding-right: 10px;
    color: var(--paragraph-color);
 }
 /* ====================== Plan Today area end ======================  */
 /* ====================== Blog Today area start ======================  */
 /* ====================== Blog Today area end ======================  */
 /* ====================== NewsLetter Today area start ======================  */
 /* ====================== NewsLetter Today area end ======================  */
  /* ====================== Footer area start ======================  */
 /* ====================== Footer area end ======================  */